# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [60]:
np.zeros(10)

3. Create a vector with values ranging from 10 to 49

In [16]:
arr1 = np.arange(10,49)

4. Find the shape of previous array in question 3

In [17]:
arr1.shape

(39,)

5. Print the type of the previous array in question 3

In [20]:
arr1.dtype

dtype('int32')

6. Print the numpy version and the configuration

In [61]:
np.__version__
np.show_config()

blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']

7. Print the dimension of the array in question 3

In [25]:
arr1.ndim

1

8. Create a boolean array with all the True values

In [29]:
np.ones((10), dtype=bool)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

9. Create a two dimensional array

In [30]:
np.arange(10).reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

10. Create a three dimensional array

In [35]:
np.arange(16).reshape(2,2,4)

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [68]:
np.flip(np.arange(10))

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

12. Create a null vector of size 10 but the fifth value which is 1

In [69]:
arr3 = np.zeros(10)
arr3[5] = 1

13. Create a 3x3 identity matrix

In [48]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [72]:
arr = np.array([1, 2, 3, 4, 5])
arr.astype('float64')

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [65]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]]) 

arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])

np.multiply(arr1,arr2)

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [70]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]]) 

arr2 = np.array([[0., 4., 1.],

            [7., 2., 12.]])
arr1 > arr2

array([[ True, False,  True],
       [False,  True, False]])

17. Extract all odd numbers from arr with values(0-9)

In [78]:
arr1 = np.arange(0,9)
arr1[arr1%2==1]

array([1, 3, 5, 7])

18. Replace all odd numbers to -1 from previous array

In [81]:
arr1[arr1 % 2 == 1]= -1

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8])

19. arr = np.arange(10)


---Replace the values of indexes 5,6,7 and 8 to **12**

In [89]:
arr = np.arange(10)
arr[[5,6,7,8]] =12

20. Create a 2d array with 1 on the border and 0 inside

In [62]:
arr = np.ones((4,4))
arr[1:-1,1:-1]=0

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [108]:
arr2d = np.array([[1, 2, 3],[4, 5, 6],[7, 8, 9]])
np.where(arr2d==5,12,arr2d)

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [63]:
arr3d = np.array([[[1, 2, 3], 
                   [4, 5, 6]], 
                  [[7, 8, 9], 
                   [10, 11, 12]]])
arr3d[0, :1, :] = 64

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [115]:
arr = np.arange(0,9).reshape(3,3)
arr[0,:]

array([0, 1, 2])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [118]:
arr = np.arange(0,9).reshape(3,3)
arr[1,1:2]

array([4])

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [64]:
arr = np.arange(0,9).reshape(3,3)
arr[0:2, 2:]

array([[2],
       [5]])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [65]:
arr = np.random.randn(10,10)
print(f"Maximum value in the matrix is {arr.max()}\nMinimum value in the matrix is {arr.min()}")

Maximum value in the matrix is 2.5750174074114094
Minimum value in the matrix is -1.6519234652234704

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [132]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a,b)

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [138]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.nonzero(np.in1d(a,b))

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [145]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
data[names != 'Will']

array([[-1.39735627, -0.0553282 , -0.68799923, -1.05930908],
       [-1.55970976,  0.87566257, -2.28724591,  0.69195744],
       [-0.20583578,  0.56968768, -0.49509717,  0.48865902],
       [ 0.05341838,  0.52459455, -1.02872221, -1.27598087],
       [ 0.75235302,  1.03842149,  0.44285017, -0.27093177]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [148]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
mask = (names != 'Will') & (names != 'Joe')
data[mask]

array([[ 1.89960335,  0.69902394, -0.3307701 ,  0.33106688],
       [-0.33596052,  0.75616706,  0.38934807,  0.29455552]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [66]:
import decimal
darr1 = np.arange(1,16, dtype = decimal.Decimal).reshape(5,3)

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [67]:
darr2 = np.arange(1,17,dtype=decimal.Decimal).reshape(2,2,4)

33. Swap axes of the array you created in Question 32

In [184]:
darr2.transpose(2,0,1)

array([[[1, 5],
        [9, 13]],

       [[2, 6],
        [10, 14]],

       [[3, 7],
        [11, 15]],

       [[4, 8],
        [12, 16]]], dtype=object)

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [53]:
arr = np.sqrt(np.arange(10))
np.where(arr < 0.5, 0, arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [43]:
x = np.random.randn(12)
y = np.random.randn(12)
np.maximum(x,y)

array([ 0.60044607,  0.36643289,  0.84435508,  1.79234754,  0.92762216,
       -0.53373889,  2.02361202,  0.70272934,  0.32131296,  1.26436388,
        0.1700517 ,  0.48563346])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [40]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [39]:
a = np.array([1,2,3,4,5]) 
b = np.array([5,6,7,8,9])
np.setdiff1d(a,b)

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [36]:
sampleArray = np.array([[34,43,73],
                        [82,22,12],
                        [53,94,66]])
ansColumn = np.delete(sampleArray,1,axis=1)
newColumn = np.array([[10,10,10]]).transpose()
np.hstack((ansColumn[:,:1], newColumn,ansColumn[:,1:]))

array([[34, 10, 73],
       [82, 10, 12],
       [53, 10, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [15]:
x = np.array([[1., 2., 3.],
              [4., 5., 6.]]) 
y = np.array([[6., 23.], 
              [-1, 7], 
              [8, 9]])
np.dot(x, y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [14]:
arr = np.random.randn(20)
print(f"The cummulative sum of the above matrix is: \n{arr.cumsum()}")

[ 0.28757013 -0.13168512  0.36214881  0.19068099  0.09438761  2.00395483
  0.98527616 -0.11629442 -0.20055521  0.82717113 -0.22766216  3.1956234
 -0.39269103  0.09108178 -0.20466538  0.87170887 -0.72805841 -0.97782792
  1.95421274  1.21413409]
The cummulative sum of the above matrix is:
[0.28757013 0.15588502 0.51803383 0.70871482 0.80310243 2.80705726
 3.79233341 3.676039   3.47548379 4.30265492 4.07499276 7.27061617
 6.87792513 6.96900691 6.76434154 7.63605041 6.90799199 5.93016408
 7.88437682 9.09851091]